@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  color: #464;
}

header {
  background-color: #DFB887;
  height: 10%;
  width: 100%;
  opacity: .9;
  margin-bottom: 2%;
}

h1 { 
	text-align: center;
	color: #377ba8; 
}
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
p {
	margin-left: 2em; 
	color: #123A42;
}

ul {
  list-style-type: none;
  margin-left: 2em; 
  padding: 0;
  width: 200px;
  background-color: #76CADC;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 2em; 
}
th, td {
  padding: 5px;
}
.container {
  padding-top: 2%;
  width: 50%;
  margin: 0 auto;
  background-color: #76CADC;
}

.container label { 
	font-weight: bold; 
	margin-bottom: 2em; 
	margin-left: 2em; 
	color: #123A42;
}
.container input { 
	margin-bottom: 1em; 
	margin-left: 2em;
}
.container button {
	margin-bottom: 1em; 
	margin-left: 2em;
} 
.container textarea { 
	min-height: 12em; 
	resize: vertical; 
	margin-left: 2em;
}
.container select { 
	margin-bottom: 1em; 
	margin-left: 4em;
}
.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #444;
  text-decoration: none;
}
.myDiv {
  margin-bottom: 2em; 
	margin-right: 4em;
  text-align: center;
}

.nav{
  display: flex;
  flex-direction: row;
  background: #55555579;
  width: 40%;
  margin: 10px auto;
  padding: 10px;
  justify-content: center;
}
.nav > form > button{
  padding: 5px;
  background: inherit;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
  margin: auto;
}

.nav > form > button:hover{
  cursor: pointer;
  background: white;
  color: black;
  border: 1px solid black;
  transition: 0.7s;
}

.form{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px auto;
  text-align: left;
  align-items: center;
}
.form > input{
  margin: 10px;
  width: 60%;
}

.form > button{
  width: 20%;
  background: transparent;
  border-radius: 3px;
  border: 1px solid black;
  margin: 10px auto;
  padding: 5px;
}

.radioOptions{
  display: flex;
  flex-direction: row;
}

.formLogin{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px;
  margin: 10px auto;
  text-align: center;
  align-items: center;
}

.formLogin > button{
  width: 20%;
  background: transparent;
  border-radius: 3px;
  border: 1px solid black;
  margin: 10px auto;
}
.formLogin > input{
  width: 40%;
}

.message{
  text-align: center;
  color: red;
}

.listado{
  width: 50%;
  margin: 10px auto;
  color: #000;
  padding: 5px;
}
.item{
  display: flex;
  flex-direction: row;
}