<!DOCTYPE html>
<html lang = "en">
   <head>
    <title>Aplicación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  </head>   
   <body>     
	 <h1>COLEGIO</h1>
	 <form action="login" method="post" class="formLogin">
		 <h3>Ingresar Correo Electronico</h3>
		 <input type="text" placeholder="Email" name="correo">
		 <h3>Ingresar Contraseña</h3>
		 <input type="text" placeholder="Password" name="clave">
		 <br>
		 <button type="submit">Log in</button>
	 </form>
	 <br>
	 <p class="message">
		{{ message }}
	 </p>
	</body>
</html>