<!DOCTYPE html>
<html lang = "en">
   <head>
    <title>Aplicación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  </head>   
   <body>     
	 <h1>COLEGIO</h1>
   <div class="listado">
     <h3>Inasistencias!</h3>
     <div>
       {% for i in inasistencias %}
       <div class="item">
         <p>Fecha: {{i.fecha}}</p>
         <p>Codigo de Clase: {{i.codigoClase}}</p>
         <p>Id de estudiante: {{i.estudiante_id}}</p>
         <p>Asistio: {{i.asistio}}</p>
         <p>Justificacion: {{i.justificacion}}</p>
        </div>
        <br>
        <br>
        {% endfor %}
      </div>
    </div>
    </body>
</html>